## emutarkov-server
[Dd]ev/[Bb]in
[Ll]ogs
[Dd]ata/[Cc]onfigs/cache_items.json
[Dd]ata/[Cc]onfigs/cache_locations.json
[Dd]ata/[Cc]onfigs/cache_quests.json
package-lock.json
JustEmuTarkov-Server.exe

## visual studio
.vs
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
