## emutarkov-server
[Dd]ev/[Bb]in
[Uu]ser/[Ll]ogs
[Uu]ser/[Cc]ache
package-lock.json
EmuTarkov-Server.exe
EmuTarkov-Server-Compressed.exe

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules

## windows
desktop.ini